.div_form{
    position : absolute;
	width : 100%;
	height : 100%;
   background-color: #0070AD; 
   display: flex;
   justify-content: center;
}

.div_form{
    display: flex;
    justify-content: center;
    align-content: row;
}
#form {
    background-color: white;
    align-items: center;
    border: 1px rgb(192, 189, 189);
    border-radius: 16px ;
    box-shadow: black;
    padding: 15px 30px 30px 15px;
    Width :160px;
    Height :280px;
    margin-top: 20px;
}

.input {
    border-radius: 4px;
    padding: 6px;
    color:rgb(117, 115, 115);
    background-color: rgba(233, 230, 230, 0.746);
    
}

.access_btn{
    background-color:#0070AD ;
    color: white;
    width: 100%;
    height: 2.5em;
    border-radius: 8px;
}